@import url(https://fonts.googleapis.com/css?family=Kavivanar:regular);

header {
	border-bottom: #343434 15px solid;
	font-family: Kavivanar;
	font-weight: 400;
	font-size: 25px;
	line-height: 100%;
	letter-spacing: 7%;
	margin-bottom: 3vmin;
}

.cardssss {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2vh;
}

.card:hover {
	z-index: 10000;
	transition: 0.25s;
	outline: 1000000000000000000px solid transparent;
	transform: scale(150%);
}
